body{
    font-family: lucida sans;
}

.sections{
    padding: 20px 0;
}

header{
    height: auto;
    padding: 10px 0;

    position: fixed;
    width: 100%;
    z-index: 999;
}
header i.icon{
    position: absolute;
    right: 30px;
    top: 34px;
    z-index: 10;
    display: none;
}

header .logo h2{
    font-size: 35px;
    color: #FFA500;
    font-family: "Agency FB";
}

header nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;

}

header nav .nav-list .list a{
    display: block;
    padding: 15px;
    margin: 9px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: khaki;
}

header nav .nav-list .list a:hover{
    color: #FFA500;
}
.portofolio{
    height: 1300px;
    background-image: url("./images/Background.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;
    position: relative;
}
.vertical {
    border-left: 4px solid black;
    height: 200px;
    display: inline-block;
}
.abo{
    height: 980px;
    background-image: url("./images/Background.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;
    position: relative;
}
.text{
    margin-bottom: 100px;
}

.contact{
    height: 600px;
    border-left-width: 100px;
    background-image: url("./images/monde.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;
    position: relative;
}


.home{
    height: 500px;
    background-image: url("./images/BackgroundImage.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .home-title{
    color: white;
    font-size: 45px;
    margin-bottom: 20px;
}
.home .home-desc{
    color: white;
    font-size: 18px;

}
.home .btn button{
    color: white;


}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

@media (max-width: 575px) {
    header nav .nav-list{
        display: none;
        text-align: center;
        padding: 0;

    }

    header .logo{
        text-align: center;
    }

    header i.icon{
        display: block;
    }

}